<!DOCTYPE html>
<html>

<head>
    <title>Edit Doctor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Edit Doctor</h1>

<form action="/doctors/update/{{ doctor.id }}" method="post">

    <label>Name</label><br>
    <input type="text" name="name" value="{{ doctor.name }}" required><br><br>

    <label>Specialization</label><br>
    <input type="text" name="specialization"
           value="{{ doctor.specialization }}" required><br><br>

    <label>Availability</label><br>
    <input type="text" name="availability"
           value="{{ doctor.availability }}" required><br><br>

    <button type="submit">Update Doctor</button>

</form>

<br>

<a href="/doctors-ui">Back</a>

</body>

</html>